body {
   margin: 0;
   background-color: #FFF2CC;
   font-family: Helvetica, Arial, sans-serif;
   color: #3F3A2E;
  }
  
h1 {
   color: rgb(0, 0, 0);
   margin-left: 20px;
}

::selection {
   background-color: #659B90;
}

::marker {
   color:#3F3A2E;  /*sau #B1AB99*/
}

#image-border-separator {
   border-bottom-style: solid;
   border-bottom-width: 10px;
   border-image: url("../img/border.png") 30 round;
}

.masca-ellipse-gradient {
   -webkit-mask-image: radial-gradient(ellipse, black 80%, rgba(0, 0, 0, 0.5) 70%);
  mask-image: radial-gradient(ellipse, black 80%, rgba(0, 0, 0, 0.5) 70%);
}

@media screen and (max-width: 600px) {
   nav a {
       float: none;
       width: 100%;
   } 
   .iframe-WebPage-Despre {
       display: none;
   }
}

@media print {
   nav, .iframe-WebPage-Despre {
      display: none;
   }
}

