body {
    background-color: rgb(255,242,204);
  }
  
h1 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

nav {
    background-color: rgb(230,145,56);
    color: rgb	(91,91,91);
    padding: 15px 10px 15px 10px;
    font-size: 25px;
    
}

a {
    text-decoration:none;   /* no text underline */
    color: inherit;
 }

 table {
    border: 1px solid;
    border-collapse: collapse;
 }

 th {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
 }

 td {
    border: 1px solid;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 10px;
 }

 tr:hover {
    background-color: rgb(233, 221, 187);
 }

 input, textarea, select {
    border: 1px solid rgb(230,145,56);
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
 }

 input[type=button] {
    background-color: rgb(255,242,204);
    padding: 16px 32px;
 }


